@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao site que irá te ensinar inglês</h1>
    <p>Vamos começar ?</p>
    <button id="botaoInterfaceSim">Sim</button>
    <button id="botaoInterfaceNao">Não</button>
</div>
