@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao site que irá te ensinar outro idioma</h1>
    <p id="VamosComecar">Vamos começar ?</p>
    <button id="botaoInterfaceSim">Sim</button>
    <button id="botaoInterfaceNao">Não</button>

    <div id="containerNome"></div>
    <div id="containerIdioma"></div>
    <div id="containerNao"></div>
    <div id="MotivoNaoComecar"></div>

    <div>
        <button id="botaoEnviar" style="display: none;">Enviar</button>
    </div>

    <div>
        <button id="botaoEnviarNao" style="display: none;">Enviar</button>
    </div>


</div>



<script src="~/js/site.js"></script>
