@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao site que irá te ensinar outro idioma</h1>
    <p id="VamosComecar">Vamos começar ?</p>
    <button id="botaoInterfaceSim">Sim</button>
    <button id="botaoInterfaceNao">Não</button>
    <div id="containerNome"></div>
    <div id="containerIdioma"></div>
    <div id="containerNao"></div>
    <div>
        <button id="botaoEnviar" style="margin-top:10px;">Enviar</button>
    </div>
</div>
 
<script>
        const botaoSim = document.getElementById("botaoInterfaceSim");
    const botaoNao = document.getElementById("botaoInterfaceNao");
    const botaoEnviar = document.getElementById("botaoEnviar");

    const containerNome = document.getElementById("containerNome");
    const containerIdioma = document.getElementById("containerIdioma");
    const containerNao = document.getElementById("containerNao");

    botaoSim.addEventListener("click", function () {
        if (!containerNome.querySelector("textarea")) {
            const textNome = document.createElement("textarea");
            textNome.setAttribute("rows", "1");
            textNome.setAttribute("cols", "50");
            textNome.setAttribute("placeholder", "Qual é o seu nome?");
            textNome.id = "nomeInput";
            containerNome.appendChild(textNome);
        }

        if (!containerIdioma.querySelector("textarea")) {
            const textIdioma = document.createElement("textarea");
            textIdioma.setAttribute("rows", "1");
            textIdioma.setAttribute("cols", "50");
            textIdioma.setAttribute("placeholder", "Qual idioma você quer estudar?");
            textIdioma.id = "idiomaInput";
            containerIdioma.appendChild(textIdioma);
        }

        containerNao.innerHTML = "";
    });

    botaoNao.addEventListener("click", function () {
        if (!containerNao.querySelector("textarea")) {
            const textNao = document.createElement("textarea");
            textNao.setAttribute("rows", "1");
            textNao.setAttribute("cols", "50");
            textNao.setAttribute("placeholder", "Qual motivo você não quer começar?");
            containerNao.appendChild(textNao);
        }

        containerNome.innerHTML = "";
        containerIdioma.innerHTML = "";
    });

    botaoEnviar.addEventListener("click", function () {
        const nome = document.getElementById("nomeInput")?.value;
        const idioma = document.getElementById("idiomaInput")?.value;

        if (!nome || !idioma) {
            alert("Por favor, preencha o nome e o idioma.");
            return;
        }

        fetch("/UsuarioIdioma/Create", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ nome, idioma })
        })
        
    });

</script>
