@{
    ViewData["Title"] = "Idiomas disponiveis";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: 20px;">Nessa sessão você pode ver quais idiomas estão disponiveis no nosso site.</p>
<br/>
<br/>
<p style="font-size:30px;">Inglês </p>
<p style="font-size: 20px;">Conteúdo para desenvolver o vocabulário</p>
<a href="https://santoevangelho.com.br/wp-content/uploads/2023/02/1000-PALAVRAS-MAIS-USADAS-EM-INGLES.pdf"
target="
_blank" style="display: block; padding: 10px 20px;background:black ;
color: white; text-decoration: none; border-radius: 5px; width: 150px;">

    Clique aqui!

</a>
<br/>
<p style="font-size: 20px;">Conteúdo para desenvolver o " listening "</p>
<a href="https://learnenglish.britishcouncil.org/skills/listening"
   target="
_blank" style="display: block; padding: 10px 20px;background:black ;
color: white; text-decoration: none; border-radius: 5px; width: 150px;">

    Clique aqui!

</a>


