﻿@{
    ViewData["Title"] = "Inglês";
}

<h1 id="BemVindoX">Bem-vindo</h1>
<br />
<br />

<p id="QualNivelIngles" style="font-size:30px; text-align: center;">Qual é o seu nível de inglês?</p>

<div id="PrimeirosBotoes" style="display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;">
    <button id="BotaoInglesNaoSei" style="background-color:red; width:200px; height:100px;">Nunca estudei</button>
    <button id="botaoInglesIniciante" style="background-color:yellow; width:200px; height:100px;">Sou iniciante</button>
</div>

<div id="BotoesRestantes" style="display: flex; justify-content: center; gap: 20px;">
    <button id="botaoInglesAmador" style="background-color:green; width:200px; height:100px;">Consigo falar</button>
    <button id="botaoInglesFluente" style="background-color:blue; color: white; width:200px; height:100px;">Fluente</button>
</div>

<div id="TesteRapido" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-size: 24px;">Vamos fazer um rápido teste em base da sua resposta ?</p>
    <button id="VamosBotao" style="width: 200px; height: 60px;">Vamos!</button>
    <button id="OutraHoraBotao" style="width: 200px; height: 60px;">Deixa para outra hora</button>
</div>

<div id="PrimeiraPerguntaNaoSei" style="display: none; text-align: center; margin-top: 30px;">
    <p id="PrimeiraPNaoSei" style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como eu posso dizer eu te amo para alguém ?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 01/05</p>
    <button>Je te aime</button>
    <button>Te quiero</button>
    <button>I love you</button>
    <button id="PrimeiraRespostaCertaNaoSei">Eu te amo</button>
    <br /><br />
    <button id="avancarPrimeiraPerguntaNaoSei">Avançar</button>
</div>

<div id="SegundaPerguntaNaoSei" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como eu posso dizer "olá" para alguém ?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 02/05</p>
    <button id="SegundaRespostaCertaNaoSei">Hello</button>
    <button>Helo</button>
    <button>Helloh</button>
    <button>Hellow</button>
    <br /><br />
    <button id="avancarSegundaPerguntaNaoSei">Avançar</button>
</div>

<div id="TerceiraPerguntaNaoSei" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">Como é "azul" em inglês ?</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 03/05</p>
    <button>Red</button>
    <button id="TerceiraRespostaCertaNaoSei">Blue</button>
    <button>Hello</button>
    <button>Hellow</button>
    <br /><br />
    <button id="avancarTerceiraPerguntaNaoSei">Avançar</button>
</div>

<div id="QuartaPerguntaNaoSei" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">Como é "um, dois e três" em inglês ?</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 04/05</p>
    <button>Uno, dos, tres</button>
    <button>Une, thow,three</button>
    <button id="QuartaRespostaCertaNaoSei">One, two, three</button>
    <button>Um, dois, três</button>
    <br /><br />
    <button id="avancarQuartaPerguntaNaoSei">Avançar</button>
</div>

<div id="QuintaPerguntaNaoSei" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">Como é "idade" em inglês ?</p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 05/05</p>
    <button>Agi</button>
    <button id="QuintaRespostaCertaNaoSei">Age</button>
    <button>Aghe</button>
    <button>Agew</button>
    <br /><br />
    <button id="avancarQuintaPerguntaNaoSei">Finalizar teste</button>
</div>

<div id="PrimeiraPerguntaIniciante" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como eu posso dizer "obrigado" em inglês?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 01/05</p>
    <button>Thank you</button>
    <button>Thak yu</button>
    <button>Thanksyou</button>
    <button>Obrigu</button>
    <br /><br />
    <button id="avancarPrimeiraPerguntaIniciante">Avançar</button>
</div>

<div id="SegundaPerguntaIniciante" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como se diz "tchau" em inglês?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 02/05</p>
    <button>Bye</button>
    <button>Byee</button>
    <button>Bay</button>
    <button>Chau</button>
    <br /><br />
    <button id="avancarSegundaPerguntaIniciante">Avançar</button>
</div>

<div id="TerceiraPerguntaIniciante" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como se diz "cachorro" em inglês?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 03/05</p>
    <button>Dog</button>
    <button>Dag</button>
    <button>Cachor</button>
    <button>Puppi</button>
    <br /><br />
    <button id="avancarTerceiraPerguntaIniciante">Avançar</button>
</div>

<div id="QuartaPerguntaIniciante" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como se diz "gato" em inglês?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 04/05</p>
    <button>Gat</button>
    <button>Cat</button>
    <button>Ket</button>
    <button>Cati</button>
    <br /><br />
    <button id="avancarQuartaPerguntaIniciante">Avançar</button>
</div>

<div id="QuintaPerguntaIniciante" style="display: none; text-align: center; margin-top: 30px;">
    <p style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">
        Como se diz "bom dia" em inglês?
    </p>
    <p style="font-family: Arial, Helvetica, sans-serif;">Questão: 05/05</p>
    <button>Good morning</button>
    <button>Gud morni</button>
    <button>Morning good</button>
    <button>Bom day</button>
    <br /><br />
    <button id="avancarQuintaPerguntaIniciante">Finalizar teste</button>
</div>

<script src="~/js/scriptPerguntasNaoSeiIngles.js"></script>