@{
    ViewData["Title"] = "Inglês";
}

<h1 id="BemVindoX">Bem-vindo</h1>
<br />
<br />

<p id="QualNivelIngles" style="font-size:30px; text-align: center;">Qual é o seu nível de inglês?</p>

<div style="display: flex; justify-content: center; gap: 20px; margin-bottom: 20px;">
    <button id="BotaoInglesNaoSei" style="background-color:red; width:200px; height:100px;">Nunca estudei</button>
    <button id="botaoInglesIniciante" style="background-color:yellow; width:200px; height:100px;">Sou iniciante</button>
</div>

<div style="display: flex; justify-content: center; gap: 20px;">
    <button id="botaoInglesAmador" style="background-color:green; width:200px; height:100px;">Consigo falar</button>
    <button id="botaoInglesFluente" style="background-color:blue; color: white; width:200px; height:100px;">Fluente</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nome = localStorage.getItem("nomeUsuario");
        if (nome) {
            const titulo = document.getElementById("BemVindoX");
            if (titulo) {
                titulo.textContent = `Bem-vindo, ${nome}!`;
            }
        }
    });
</script>
