@page
@model LearnEnglish.Views.Html.PerguntasNaoSeiModel
@{
}


<div id="PrimeiraPerguntaNaoSei">
    <p id="PrimeiraPNaoSei" style="font-family:Arial, Helvetica, sans-serif; font-size: 30px">Como eu posso dizer eu te amo para alguém ?</p>
    <button>Je te aime</button>
    <button>Te quiero</button>
    <button>I love you</button>
    <button>Eu te amo</button>
</div>